<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link rel="stylesheet" href="/project_capstone_skincare/GlowMatch-front/asset/css/navigation.css">
   <link rel="stylesheet" href="/project_capstone_skincare/GlowMatch-front/asset/fonts/style.css">
  <link rel="stylesheet" href="navigation-bar.js">
  <script src="/project_capstone_skincare/GlowMatch-front/js/navigation.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <nav>
    <div class="navbar">
      <img src="/project_capstone_skincare/GlowMatch-front/asset/image/logo/logo.png" class="img-responsive" alt="Image" width="200" height="70" style="margin-top: 10px;">
      <ul class="menu">
        <li><a href="/project_capstone_skincare/GlowMatch-front/pages/homepage/homepage.html">Home</a></li>
        <li><a href="/project_capstone_skincare/GlowMatch-front/pages/analysis/analysis.html">Analyze</a></li>
        <!-- <li><a href="/project_capstone_skincare/GlowMatch-front/pages/consultation/consulting.html">Consulting</a></li> -->
        <li><a href="/project_capstone_skincare/GlowMatch-front/component/wellcome_page/consulting_wellcome_page.html">Consulting</a></li>
        <li><a href="/project_capstone_skincare/GlowMatch-front/pages/about-us/about_us.html">About us</a></li>
        <li>
          <div><a href="#login">Login</a></div>
        </li>
      </ul>
    </div>
  </nav>

  <script src="navigation.js"></script>
</body>

</html>