    </section>
    <h3 style="margin: 40px; font-size: 30px;">Moisturizer</h3>
    <section class="products-container">

        <div class="products">
            <img src="/project_capstone_skincare/GlowMatch-front/asset/image/moisirizer/pink.jpeg" alt="Avatar"
                class="product-image">
            <div class="box">
                <h4><b>SKIN1004 Madagascar Centella Poremizing Light Gel Cream </b></h4>
                <p>Lightweight Cooling Gel Cream</p>
            </div>
        </div>
        <div class="products">
            <img src="/project_capstone_skincare/GlowMatch-front/asset/image/moisirizer/image copy 2.png" alt="Avatar"
                class="product-image">
            <div class="box">
                <h4><b>Centella Cream</b></h4>
                <p>Lightweight Moisturizing Cream</p>
            </div>
        </div>
        <div class="products">
            <img src="/project_capstone_skincare/GlowMatch-front/asset/image/moisirizer/SKIN1004 Hyalu-Cica Crème Hydratante.png"
                alt="Avatar" class="product-image">
            <div class="box">
                <h4><b>SKIN1004 Hyalu-Cica Crème Hydratante</b></h4>
                <p>HIGHLY MOISTURIZING + HIGHLY SOOTHING 100 HOURS MOISTURE CREAM</p>
            </div>
        </div>
        <div class="products">
            <img src="/project_capstone_skincare/GlowMatch-front/asset/image/moisirizer/SKIN 1004 Madagascar Centella Tea-Trica B5 Cream 75 ml.png"
                alt="Avatar" class="product-image">
            <div class="box">
                <h4><b>SKIN 1004 Madagascar Centella Tea-Trica B5 Cream</b></h4>
                <p>Lightweight Moisturizing Cream</p>
            </div>
        </div>
        <div class="products">
            <img src="/project_capstone_skincare/GlowMatch-front/asset/image/moisirizer/SKIN1004 Madagascar Centella Tone Brightening Capsule Cream 75ml, 1pc.png"
                alt="Avatar" class="product-image">
            <div class="box">
                <h4><b>SKIN1004 Madagascar Centella Tone Brightening Capsule Cream</b></h4>
                <p>Balance Uneven Skin Tone With Soothing Care</p>
            </div>
        </div>
    </section>