<h3 style="margin: 40px; font-size: 30px;">Sun screen</h3>
<section class="products-container">

    <div class="products">
        <img src="/project_capstone_skincare/GlowMatch-front/asset/image/sunscreen/SKIN1004 Madagascar Hyalu-CICA Water-Fit Sun Serum SPF50+ PA++++ 50ml, 1pc.png"
            alt="Avatar" class="product-image">
        <div class="box">
            <h4><b>SKIN1004 Madagascar Hyalu-CICA Water-Fit Sun Serum SPF50+ PA++++</b></h4>
            <p>Feature Light Moisturizing SPF with Glow</p>
        </div>
    </div>
    <div class="products">
        <img src="/project_capstone_skincare/GlowMatch-front/asset/image/sunscreen/Centella Air-Fit Suncream Light SPF30 PA++++.png"
            alt="Avatar" class="product-image">
        <div class="box">
            <h4><b>Centella Air-Fit Suncream Light SPF30 PA++++</b></h4>
            <p>Daily Light Mineral Sunscreen</p>
        </div>
    </div>
    <div class="products">
        <img src="/project_capstone_skincare/GlowMatch-front/asset/image/sunscreen/TONE BRIGHTENING TONE-UP SUNSCREEN.png"
            alt="Avatar" class="product-image">
        <div class="box">
            <h4><b>TONE BRIGHTENING TONE-UP SUNSCREEN</b></h4>
            <p>Peachy Tinted Niacinamide Sunscreen</p>
        </div>
    </div>
    <div class="products">
        <img src="/project_capstone_skincare/GlowMatch-front/asset/image/sunscreen/Skin1004 Madagascar Centella Air-Fit Suncream Plus SPF 50+ PA++++.png"
            alt="Avatar" class="product-image">
        <div class="box">
            <h4><b>Skin1004 Madagascar Centella Air-Fit Suncream Plus SPF 50+ PA++++</b></h4>
            <p>A light physical sunscreen designed for irritated skin to soothe it and bring out its natural glow
            </p>
        </div>
    </div>
    <div class="products">
        <img src="/project_capstone_skincare/GlowMatch-front/asset/image/sunscreen/Skin1004 Tea-Trica Soothing Sun Milk 50ml.png"
            alt="Avatar" class="product-image">
        <div class="box">
            <h4><b>Skin1004 Tea-Trica Soothing Sun Milk</b></h4>
            <p>This unscented sunscreen is super lightweight and hydrating, and quickly absorbing with a non greasy
                and dewy finish</p>
        </div>
    </div>
    <div class="products">
        <img src="/project_capstone_skincare/GlowMatch-front/asset/image/sunscreen/SKIN1004 Madagascar Centella Poremizing Tinted Sun Cream 50ml.png"
            alt="Avatar" class="product-image">
        <div class="box">
            <h4><b>SKIN1004 Madagascar Centella Poremizing Tinted Sun Cream</b></h4>
            <p>SKIN1004 Madagascar Centella Poremizing Tinted Sun Cream SPF 50+ PA++++ 50ml - Brand: Skin1004 - Net
                Content: 50ml</p>
        </div>
    </div>