.analysis-container{
    justify-content: center;
}
.analysis-container .analysis{
    margin-top: 100px;
    margin-left: 100px;
    font-size: 20px;
    display: flex;
    gap: 20px;
}
/* Style the form-group and textarea */
.form-group {
    max-width: 900px;  /* Limit the maximum width */
    margin: 0 auto;    /* Center the form on the page */
    padding: 20px;
}

textarea.form-control {
    width: 100%;       /* Make the textarea take up full width */
    padding: 15px;     /* Add some padding inside the textarea */
    border: 1px solid #ccc; /* Add a border around the textarea */
    font-size: 16px;    /* Make the text inside a bit larger */
    border-radius: 5px; /* Slightly rounded corners */
    box-sizing: border-box; /* Ensure padding does not mess with width */
   
}
textarea::placeholder {
    text-align: center; /* Horizontal alignment */
    vertical-align: middle; /* Vertical alignment */
    line-height: 450px;
}
.btn {
    background-color: #89CFF0; /* Blue background color */
    color: white; /* White text color */
    padding: 15px 20px; /* Padding inside the button */
    border: none; /* Remove the border */
    border-radius: 35px; /* Rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    font-size: 16px; /* Increase the font size */
    margin-top: 10px; /* Add some space at the top */
    margin: 10px 305px 20px 305px;
}
.btn:hover {
    transform: scale(1.05); /* Slightly enlarge the button on hover */
    background-color: none;
}